<div class="container">

    <h2>LEVANTAMIENTO DE REPORTE DE SERVICIO</h2>
    <form>
          <input type="text" placeholder="Buscar Cliente"class ="form-control" id="bc" required>
          <input type="text" placeholder="Equipo"class = "form-control" id="equipo" required>
          <input type="text" placeholder="Contacto"class = "form-control" id="contacto" required>
          <input type="text" placeholder="Marca" class = "form-control" id="marca" required>
          <input type="text" placeholder="Direccion"class = "form-control" id="dir" required>
          <input type="text" placeholder="Modelo" class ="form-control" id="modelo" required>
          <input type="text" placeholder="Telefono" class ="form-control" id="telefono" required>
          <input type="text" placeholder="Serie" class = "form-control" id="serie" required>
          <input type="text" placeholder="E-mail" class ="form-control" id="e-mail" required>
          <input type="text" placeholder="Tecnico" class = "form-control" id="tecnico" required>

          <input type="text" placeholder="Persona que reporta servicios"class = "form-control" id="pers_report" required>
          <input type="text" placeholder="Telefono de quien reporta" class ="form-control" id="tel_report" required>
          <input type="text" placeholder="Persona a contactar" class = "form-control" id="person_contact" required>
          <input type="text" placeholder="Telefono de persona a contactar" class = "form-control" id="tel_person_contact" required>
          
          
          
          <textarea placeholder="Falla" class ="form-control" id="falla" required></textarea>
          <textarea placeholder= "Observaciones"class = "form-control" id="observaciones" required></textarea>
          <textarea type="text" placeholder="Nivel de molestia" class = "form-control" id="nivel_molestia" required></textarea>      
          <input type="date" placeholder="Fecha" class = "form-control" id="tel" required>
          <button type="submit" class="btn btn-success">ACEPTAR</button>
    </form>
  </div>