<header>
  <div>
    <input type="text" placeholder="Cantidad de revisiones">
    <input type="text" placeholder="Nombre del cliente">
    <input type="text" placeholder="Contacto">
    <input type="text" placeholder="Telefono de oficina o celular">
    <input type="text" placeholder="Direccion">
    <input type="text" placeholder="Descripcion del equipo">
    <input type="text" placeholder="Marca">
    <input type="text" placeholder="Modelo de equipo">
    <input type="text" placeholder="Serie">
    <textarea type="text" placeholder="Requisitos para dar el servicio" id="requisitos_servicio" required></textarea>
    <textarea type="text" placeholder="Falla que reporta el cliente" id="falla_cliente" required></textarea>
    
  </div>
</header>